body {
    background-image: url("https://ugc.production.linktr.ee/zclaqbMfT6uEw06tOM04_0001-48256400334.png?io=true&size=background-profile-v1_0"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    font-family: Roboto,sans-serif;
}

.container{
    height: max-content;
    width: 100vw;
    z-index: 1000px;
}

.logo-description{
    height: 30vh;
}

.icon{
    width: 100px;
    height: 100px;
}

.text-color{
    color: rgba(237,114,64,255);
}

.header{
    font-size: 20px;
}

.subtext{
    font-size: 16px;
    max-width: 55%;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 768px) and (min-width: 577px){
    .subtext {
      -webkit-line-clamp: 1; /* 1 baris saat layar kecil */
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      font-size: 15px;
    }
}

@media (max-width: 576px) {
    .subtext {
      font-size: 14px;
      -webkit-line-clamp: 2;
      white-space: normal;
    }
  }

.subheader{
    font-size: 17px;
}

.links{
    height: 100vh;
}

.border{
    border-style: solid;
    border-color: black;
}

.pill-button-container{
    width: 800px;
}

.pill-button {
    background-color: white;
    border-radius: 1.9rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 800px;
    min-width: 280px !important;
    height: 68px;
    margin: 1rem auto;
    transition: transform 0.1s ease-in-out;
    z-index: 100px;
    position: relative;
}

.pill-button-linktree {
    background-color: white;
    border-radius: 1.9rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 25%;
    max-width: 800px;
    height: 45px;
    margin: 1rem auto;
    transition: transform 0.1s ease-in-out;
}

.pill-button-link {
    width: 52.3%;
    margin: 0 auto; 
}

.text-button{
    color: black;
}

.btn-icon {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 100%;
    width: 15px;
    color: grey;
    font-size: 14px;
}

.dots:hover{
    color: black;
}

a {
    text-decoration: none;
    min-width: 280px;
}

a:hover{
    text-decoration: none;
}

.pill-button:hover {
    text-decoration: none;
    transform: scale(1.015);
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 3px 8px 2.5px rgba(0, 0, 0, 0.20);
}

.icon-size{
    height: 31px;
    width: 31px;
    fill: rgba(237,114,64,255);
}

.icon-container{
    text-align: center;
}

svg{
    transition: transform 0.1s ease-in-out;
}

svg:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.cookie-container{
    height: 35px;
}

.floating-menu {
    position: fixed;
    height: 15vh;
    width: 78vh;
    transition: opacity 0.3s, transform 0.3s ease;
}
  
.menu-dots-btn {
    background: rgb(147, 147, 147);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: white;
    font-size: 20px;
    cursor: pointer;
    opacity: 85%;
    transition: all 0.2s ease;
}

.menu-dots-btn:hover{
    opacity: 50%;
    transition: all 0.2s ease-in-out;
}

.floating-menu.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 500px) {
    .floating-menu{
        width: 90vw;
    }
}